body {
    font-size: 100%;
    background-color: #e9f5db;
    margin-left: 15%;
    margin-right: 15%;
}
h1 {
    font-size: 2.5em;
    color: #718355;
}
h4 {
    font-size: 1.75em;
    padding-top: 15px;
    color: #97a97c;
}
p {
    font-size: 1.2em;
    color: #132a13;
}
ul {
    font-size: 1.2em;
    color: #132a13;
}
table, th, td {
    border: 1px solid black;
}